
body{
    text-align: center;
    font-size: 18px;

     /*font-family: 'Nunito Sans', sans-serif*/

    background: #fdfafa;        

    margin: 0px 0px;
}

h1{

    font-size: 60px;
    color: #604838;
    max-width: 30em;
    font-family: 'Playfair Display', serif;
     /*font-family: 'Abril Flatface', serif;*/
     /*font-family: 'Orelega', serif;*/
    font-weight: 700;
    line-height: 0.5;
    
}
h2{

    font-family: 'Playfair Display', serif;
   /*font-family: 'Abril Flatface', serif;*/
   /*font-family: 'Orelega', serif;*/

    font-style: italic;
    font-size: 28px;
    color: rgb(136, 136, 136);
    margin: 0px auto;
    line-height: 0.5;
    max-width: 30em;
    
}



h9{

    font-family: 'Playfair Display', serif;
       /*font-family: 'Abril Flatface', serif;*/ 
       /*font-family: 'Orelega', serif;*/
    font-style: italic;
    font-size: 35px;
    color: #604838;
    line-height: 0.2px;    
}

h3{

    font-family: 'Raleway', sans-serif;
        /*font-family: 'Amiko', sans-serif;*/
           /*font-family: 'Montserrat', sans-serif;*/
    font-size: 20px;
    color: #604838;
    text-align: center;
    
}

article p{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Amiko', sans-serif;*/
    margin: 0.5px auto;
    max-width: 43em;
    text-align: center;
    color: rgb(101, 108, 115);
    line-height: 1.3;
}


#header {
    background-image: url("img/12.png");

    height: 420px;
 
    background-position: center;

    position: relative;
    
    background-size: cover;
} 

 

  p {
    text-align: justify;
    margin-top: 20px;
    max-width: 56em;
    padding: 10px;
    height: 140px;
  }
  
  .recipes-section {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-right: -4px;
    width: 300px;
    color: rgb(101, 108, 115);
    text-align: justify;
    font-family: 'Raleway', sans-serif;
     /*font-family: 'Amiko', sans-serif;*/
     /*font-family: 'Montserrat', sans-serif;*/
    margin: 0.5px auto;
    max-width: 43em;
    color: rgb(101, 108, 115);
    line-height: 1.3;
    text-align: center;
  }

  .img{
    filter: drop-shadow(1px 1px 3px black);
  }

  .button{
    color: #604838;
    font-weight: 700;
    
  }
